{% extends 'base.html' %}
{% load staticfiles %} 
{% block title %}
<title>添加术语</title>
{% endblock %}

{% block css %}





{% endblock %}
{% block breadcrumb %}
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'index' %}">主页</a>
            </li>
            <li class="active">
                <strong>添加术语</strong>
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="tab-content">
            <div class="col-sm-12" style="padding-left:0">
                <div class="ibox-content" style="border-width: 0;padding-top: 40px;">
				{% if error %}
                    <div class="alert alert-warning text-center">{{ error }}</div>
                {% endif %}
                {% if msg %}
                    <div class="alert alert-success text-center">{{ msg }}</div>
                {% endif %}
				    <form id='FormShuyu' method="post" class="form-horizontal">{% csrf_token %}
						{% for item in form %}
						<div class="form-group">

							<div class="form-group"><label class="col-sm-1 control-label">*{{ item.label }}</label>
						
							<div class="col-sm-12">
							{{ item }}{{item.errors}}
							</div>
							</div>
							<div class="hr-line-dashed"></div>
							</div>
						{% endfor %}
						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-10">
								<button class="btn btn-primary" type="submit">提交</button>
							</div>
						</div>
                    </form>


				</div>
			</div>
		</div>
	</div>   
</div>
{% endblock%}

{% block javascript %}

<script type="text/javascript" src="{% static 'js/plugins/validate/jquery.validate.min.js' '%}"></script>

<script type="text/javascript">

$().ready(function () {
  $("#FormShuyu").validate({
    rules: {
      content: {
        required: true
      }
    },
    messages: {
      content: {
        required: "必须填写"
      }
    },
 });
});

</script>

<script type="text/javascript">
</script>   
{% endblock %}
